@font-face {
    font-family: lato;
    src: url('//lato.ttf');
}

/* global.css */
body {
    background-color: #0a0a0a; /* Cambia el color de fondo a tu preferencia */
    font-family: lato;
}

.mantinia {
    font-family: lato;
}

* {
    scrollbar-color: #a5a5a5 hsla(0, 0%, 100%, 0.1);
    scrollbar-width: auto;
}

/* Anchura del scrollbar */
::-webkit-scrollbar {
    width: auto;
}

/* scrollbar */
::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
}

/* la barra que se mueve */
::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* SCROLLBAR SELECT */
/* CSS personalizado para personalizar el scroll de un select */
.select::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.select::-webkit-scrollbar-thumb {
    background-color: #a5a5a5; /* Color del thumb del scrollbar */
    border-radius: 4px; /* Radio de borde del thumb */
}

/* Aplicar la clase select-custom-scrollbar al select */
.select {
    scrollbar-width: thin; /* Grosor del scrollbar */
    scrollbar-color: #a5a5a5 transparent; /* Color del thumb y del scrollbar */
}

