.communitySimple {
    /* align-content: space-between; */
    /* min-height: 370px;
    max-height: 370px; */
    min-height: 420px;
    max-height: 420px;
}

.name_community {    
    /* height: 85px; */
    height: 100px;
}

/* @media (max-width: 1290px) {
    .img_game_simple {
        height: 56px;
    }
} */

/* .community_data {
    min-height: 200px;
} */